<h1>SIG Products Web UI</h1>

<div *ngIf="product">
  <h3>SKU: {{product.sku}}</h3>
  <h3>Name: {{product.name}}</h3>
  <h3>Description: {{product.description}}</h3>
  <h3>Updated: {{product.lastUpdatedTimestamp}}</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Name</th>
      <th>Description</th>
      <th>Last Updated Time</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let p of productList">
      <td>{{p.sku}}</td>
      <td>{{p.name}}</td>
      <td>{{p.description}}</td>
      <td>{{p.lastUpdatedTimestamp}}</td>
    </tr>
  </tbody>
  
</table>

