<h1>SIG Products Web UI</h1>

<div *ngIf="product">
  <h3>SKU: {{product.sku}}</h3>
  <h3>Name: {{product.name}}</h3>
  <h3>Description: {{product.description}}</h3>
  <h3>Updated: {{product.lastUpdatedTimestamp}}</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th><h3>SKU</h3></th>
      <th><h3>Name</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>UpdatedAt</h3></th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let p of productList">
      <td><h3>{{p.sku}}</h3></td>
      <td><h3>{{p.name}}</h3></td>
      <td><h3>{{p.description}}</h3></td>
      <td><h3>{{p.lastUpdatedTimestamp}}</h3></td>
    </tr>
  </tbody>
  
</table>

<h3>About UI: {{aboutUi}}</h3>
<h3>About Service: {{aboutService}}</h3>

